.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
  }
  
  .home .image {
    flex: 1 1 45rem;
  }
  
  .home .image img {
    width: 100%;
    height: 400px;
  }
  
  .home .content {
    flex: 1 1 45rem;
  }
  
  .home .content h3 {
    font-size: 4.5rem;
    color: var(--blue);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
  }
  
  .home .content p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
  }
  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    color: var(--blue);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
  }
  
  .btn span {
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    background: var(--blue);
    color: #fff;
    margin-left: 0.5rem;
  }
  
  .btn:hover {
    
    color: #fff;
  }
  
  .btn:hover span {
    color: var(--blue);
    background: #fff;
    margin-left: 1rem;
  }
  .icons-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .icons-container .icons {
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    text-align: center;
    padding: 2.5rem;
  }
  
  .icons-container .icons i {
    font-size: 4.5rem;
    color: var(--blue);
    padding-bottom: 0.7rem;
  }
  
  .icons-container .icons h3 {
    font-size: 4.5rem;
    color: var(--black);
    padding: 0.5rem 0;
    text-shadow: var(--text-shadow);
  }
  
  .icons-container .icons p {
    font-size: 1.7rem;
    color: var(--light-color);
  }