<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> our  <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="assets/inpa1.jpg" alt="">
            <i class="fas fa-notes-medical"></i>
            <h3>In Patient Department</h3>
            <p>The inpatient department starts from the fourth and the fifth floors where we house the twin and the multiple bed sharing rooms.  All the rooms have been elegantly designed. Even the multiple bed sharing rooms have adequate space between two beds, not only for the attendant but also for medical equipment if so required.
                                The rooms are flooded with natural light. </p>
            <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a> -->
        </div>

        <div class="box">
            <img src="assets/cafe.jpg" alt="">
            <i class="fas fa-user-md"></i>
            <h3>Cafeteria</h3>
            <p>At Medicare Hospital, you can visit two different cafeterias.

                Ground floor cafeteria is run by the ISS catering services that also cater to the hospital. The cafeteria caters for all forms of snacks and meals. On the ninth floor we have the famous coffee Day Express (Cafe Coffee day Chain) While you enjoy, coffee, tea, or any other beverage you also get a panoramic view of the Powai lake.</p>
            <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a> -->

        </div>

        <div class="box">
            <i class="fas fa-ambulance"></i>
            <img src="assets/amb.jpg" alt="">
            <h3>Ambulance services</h3>
            <p>The hospital has a well equipped ambulances. The basic task here is to retrieve emergency cases from the proximity areas of the hospital. The ambulances are equipped with advanced life support systems and carry a doctor on board for cardiac and other life threatening emergencies.</p>
            <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a> -->
        </div>
        
        <div class="box">
            <img src="assets/pharm2.jpg" alt="">
            <i class="fas fa-pills"></i>
            
            <h3>Pharmacy</h3>
            <p>The main pharmacy store is located at the hospital basement whereas the day and night retail pharmacy is located at the ground floor.

                The ward pharmacy is strategically located on the sixth floor catering to the patients within the hospital
                
                Our pharmacy is staffed only by qualified and registered pharmacists.</p>
            <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a> -->
        </div>

        <div class="box">
            <img src="assets/dayc.jpg" alt="">
            <i class="fas fa-procedures"></i>
            <h3>day care</h3>
            <p>Day care complex is on the 10th Floor. There are 9 beds with high end electronic monitoring systems. There is a dedicated team of highly trained nurses who manage the department. It has its own change room and is operational from 8 am to 8 pm.

                Day Care Centre caters to surgeries like:
                
                Minor Gynaecology cases
                Cataracts
                Minor surgical cases
                Chemotherapy patients
                Blood Transfusion

                Pain Clinic Patients.</p>
            <!-- <a href=""></a>  -->
        </div>

        <div class="box">
            <img src="assets/fam.jpg" alt="">
            <i class="fas fa-heartbeat"></i>
            <h3>family launge</h3>
            <p>
                Floor 11 has a family lounge that is meant for the patient and relatives to spend time together socially, read newspapers, surf the net and have tea or coffee. The view is breathtaking..</p>
            <!-- <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a> -->
        </div>

    </div>

</section>

<!-- services section ends -->
