<div class="main-home">
    <div id="home">
        <div class="container">
            
       <h1>stay safe, stay healthy</h1><br>
       <h4>We are Available 24/7 Hours.</h4><br><br>
       <a routerLink="book" class="main-btn" >Book Your Slot</a>
        </div>
        
    </div>
</div>

<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-user-md"></i>
        <h3>140+</h3>
        <p>doctors at work</p>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <h3>1040+</h3>
        <p>satisfied patients</p>
    </div>

    <div class="icons">
        <i class="fas fa-procedures"></i>
        <h3>500+</h3>
        <p>bed facility</p>
    </div>

    <div class="icons">
        <i class="fas fa-hospital"></i>
        <h3>80+</h3>
        <p>available hospitals</p>
    </div>

</section>

<!-- icons section ends -->


<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span>about</span> us </h1>

    <div class="row">

        <div class="image">
            <img src="assets/abt.png" alt="">
        </div>

        <div class="content">
            <h3>we take care of your healthy life</h3>
            <p>Medicare Hospital is a Gynaecological Endoscopy Hospital in all over the world. The timings of Medicare Hospital are: Mon, Sat: 11:00-14:00, 17:00-20:00,Tue-Fri: 00:00-14:00, 17:00-20:00 and Sun: 14:00-20:00. </p>
            <p>Some of the services provided by the Hospital are: Surgery Theatre,Hypertension Disorders,Adenomyosis Treatment and Adolescent Problems etc. Click on map to find directions to reach Medicare Hospital. </p>
            <a routerLink="about" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

    </div>

</section>




<!-- about section ends -->



<!-- <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative">
        <h1>stay safe, stay healthy</h1>
        <h4>We are Available 24/7</h4>
        <a href="" class="main-btn">Book Your Slot</a>
    </div>
</section> -->