<div class="main-container">
    <div class="top-section-main">
        <div id="top-section-content">
            <h1>Stay Safe, Stay Healthy</h1>
            <p>In nature, nothing is perfect and everything is perfect. Trees can be contorted, bent in weird ways, and they’re still beautiful.</p>
            <img class="play-button" src="play.png" alt="play button" height="100px" width="100px">
            <div class="main-form">
                <form>
                    <h6>Sign Up For Free 30 Days Trial</h6>
                    <input type="text" name="name" placeholder="Name">
                    <input type="email" name="email" placeholder="Email">
                    <button type="button" class="main-form-btn">Start Free</button>
                </form>
            </div>
        </div>
    </div>   <!-- enf main container -->

