<div class="main-home">
    <div id="home">
        <div class="container">
            
       <h1>stay safe, stay healthy</h1><br>
       <h4>We are Available 24/7 Hours.</h4><br><br>
       <a routerLink="book" class="main-btn" >Book Your Slot</a>
        </div>
        
    </div>
</div>

<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-user-md"></i>
        <h3>140+</h3>
        <p>doctors at work</p>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <h3>1040+</h3>
        <p>satisfied patients</p>
    </div>

    <div class="icons">
        <i class="fas fa-procedures"></i>
        <h3>500+</h3>
        <p>bed facility</p>
    </div>

    <div class="icons">
        <i class="fas fa-hospital"></i>
        <h3>80+</h3>
        <p>available hospitals</p>
    </div>

</section>

<!-- icons section ends -->

<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-notes-medical"></i>
            <h3>free checkups</h3>
            <p>Free Checking camp on occasion, <br>Get yourself checked.</p>
            <a routerLink="services" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-ambulance"></i>
            <h3>24/7 ambulance</h3>
            <p>We Provide 24/7 Hours Ambulance Facilities.</p>
            <a routerLink="services" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-user-md"></i>
            <h3>expert doctors</h3>
            <p>We Provides You The Best Doctors Overall the World.</p>
            <a routerLink="services" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-pills"></i>
            <h3>medicines</h3>
            <p>We Provides You All Types of Medicines With Lowest Price.</p>
            <a routerLink="services" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-procedures"></i>
            <h3>bed facility</h3>
            <p>In Our Medicare, We Provides you AC Or Non-AC Bed Facilities.</p>
            <a routerLink="services" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

        <div class="box">
            <i class="fas fa-heartbeat"></i>
            <h3>total care</h3>
            <p>Medicare are Importants to Treat Minor and Serious Diseases.</p>
            <a routerLink="services" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

    </div>

</section>

<!-- services section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span>about</span> us </h1>

    <div class="row">

        <div class="image">
            <img src="assets/abt.png" alt="">
        </div>

        <div class="content">
            <h3>we take care of your healthy life</h3>
            <p>Medicare Hospital is a Gynaecological Endoscopy Hospital in all over the world. The timings of Medicare Hospital are: Mon, Sat: 11:00-14:00, 17:00-20:00,Tue-Fri: 00:00-14:00, 17:00-20:00 and Sun: 14:00-20:00. </p>
            <p>Some of the services provided by the Hospital are: Surgery Theatre,Hypertension Disorders,Adenomyosis Treatment and Adolescent Problems etc. Click on map to find directions to reach Medicare Hospital. </p>
            <a routerLink="about" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

    </div>

</section>

<!-- booking section starts   -->

<section class="book" id="book">

    <h1 class="heading"> <span>book</span> now </h1>    

    <div class="row">

        <div class="image">
            <img src="assets/buk.png" alt="">
        </div>

        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <h3>book appointment</h3>
            <input type="text" placeholder="your name" formControlName="name" class="box">
            <input type="tel" placeholder="your mobile number"formControlName="number" class="box">
            <input type="email" placeholder="your email"formControlName="email"  class="box">
            <input type="date" formControlName="date" class="box">
            <input type="time" formControlName="time" class="box">
            <input type="submit" value="book now" class="btn">
        </form>

    </div>

</section>

<!-- booking section ends -->


<!-- about section ends -->



<!-- <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative">
        <h1>stay safe, stay healthy</h1>
        <h4>We are Available 24/7</h4>
        <a href="" class="main-btn">Book Your Slot</a>
    </div>
</section> -->