.footer{
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color: black;
    color: aliceblue;
    padding: 20px 10px;
}

h1{
    font-size: 20px;
    font-weight: bold;
}
a{
    color: aliceblue;
    text-decoration: none;
    padding: 0px 6px;
    font-size: 18px;
}
a:hover{
    color: var(--primary-color);
}

i{
    padding: 0px 8px;
}
p{
    font-size: 14px;
}