<div class="footer">
    <div class="row">
        <!-- name -->
        <div class="col-lg-5">
            <h1>MediCare</h1>
            <p style="margin-left: 24px;">stay safe, stay healthy</p>
        </div>

        <!-- header -->
        <div class="col-lg-5">
            <a routerLink="">Home</a>
            <a routerLink="about">About</a>
            <a routerLink="services">Services</a>
            <a routerLink="doctors">Doctors</a>
            <a routerLink="book">Book</a>
            <a routerLink="review">Review</a>
        </div>

        <!-- social -->
        <div class="col-lg-2">
            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
            <a href="https://www.instagram.com/accounts/login/" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
    <span class="copyright" > &copy; copyright 2022 Medicare - Made with &hearts; <a href="https://www.mastek.com/" target="_blank">Mastek</a></span>
</div>