<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand header-container cols-3 logo" routerLink=""><i class="fas fa-heartbeat "></i>  <span style="color: rgb(58, 38, 238);">M</span>edi<span style="color: rgb(58, 38, 238);">C</span>are</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse head cols-4" id="navbarNav">
      <ul class="navbar-nav ms-auto menu">
        <li class="nav-item active">
          <a class="nav-link active"  routerLink="" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true} ">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="services" routerLinkActive="active-link">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="doctors" routerLinkActive="active-link">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="book" routerLinkActive="active-link">Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="review" routerLinkActive="active-link">Review</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/appointment" routerLinkActive="active-link"></a>
        </li>
        
      </ul>
    </div>
  </nav>