<section class="about" id="about">

    <h1 class="heading">about <span> us</span>  </h1>

    <div class="row">

        <div class="image">
            <img src="assets/aboutimg1.jpg" alt="">
            
        </div>

        <div class="content">
            <h3>we take care of your healthy life</h3>
            <p>Established in 2007, Medicare Hospital is a multi-specialty, tertiary care Hospital that lays its foundation on a ‘Patient first’ ideology. The hospital caters to all branches of medicine right from birthing and new born care up to cancer and multi-organ transplants.           
                <p>Situated in the vicinity of the arterial Eastern Express Highway, Medicare Hospital is the epitome of medical innovations and quality healthcare that offers easy connectivity and accessibility to patients from all the nodes across Thane and Pune.</p>
                
        
        </div>

        <h4>Our Mission and Vision</h4>
        <p>To give patient and his family a clear advantage to win their war against disease by creating the best Infrastructure,
            technology and support to put Patient First & foremost and be Futuristic and innovative in delivery of Healthcare.
            
            </p>
    </div>

</section>


 