<!-- review section starts  -->
<section class="review" id="review">
    
    <h1 class="heading">patient's <span> review</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="assets\pic-1.png" alt="">
            <h3>Madhusudan</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">This is to share positive feedback regarding our experience at your hospital. My son Yajat madhusudan was admitted for a day for a surgical procedure with Dr Abhijit Joshi. All doctors took very good care of our son. The nursing staff overall and in particular in the 12th floor were very helpful. We would also like to specially mention Mr Edwin from customer service for the proactive and outstanding support through out the entire process , from admission to discharge. Thanks once again.</p>
        </div>

        <div class="box">
            <img src="assets\pic-3.png" alt="">
            <h3>john deo</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">Thank you so much for taking so much good care of me during my visit for my medical check up. Everything was really smooth from the time I arrived at the airport until I left Mumbai. The treatment was awesome. I have never been treated so well in my life and you honestly took a special place in my heart. Special mention to Dr Sujit Chatterjee for taking his time to meet me and for his breathtaking kindness. I also want to mention Archana for organizing this awesome trip for me. Awesome awesome. Last but not least, Edwin- what a guy!!!! We connected like we knew each other for ages             
        </div>
        <div class="box">
            <img src="assets\pic-2.png" alt="">
            <h3>Mrs Dubey</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">I wish to express my deep sense of gratitude for the treatment received by me for ' Prolapse of uterus Grade III' in your hospital from Sepember 2021 till date.

                Also, I wish to express my heartfelt thanks to Dr. Vanita S. Raut for restoring my health with her excellent approach and compassion!</p>
        </div>

    </div>

</section>

<!-- review section ends -->
